.phaseTwoContainer {
    padding: 10px;
    padding-top: 25px;
}

.cardsSection {
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}

.cardData {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.cardData>span {
    font-size: 25px;
    font-weight: 700;
    color: #6E5FD1;
}

.center {
    justify-content: center;
}

.selectContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}